<!DOCTYPE html>
<html lang="ko">
<head>
  <!-- 여긴 임포트입니다-->
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>누가돌려?</title>
  <script src="https://cdn.tailwindcss.com"></script>
  
</head>
  <!-- 버튼 -->
  <header class="flex">
    <button class="flex items-left gap-2 border border-blue-500 text-blue-600 px-6 py-2">
      <span>누가돌려</span>
    </div>
    <button class="flex items-left gap-2 border border-blue-500 text-blue-600 px-6 py-2">
        <span>신고하기</span>
      </div>
    <button onclick="OpenSign()" class=" border border-blue-500 text-blue-600 px-6 py-2">
        회원가입
    </button>
    <button onclick="OpenLogin()" class="border border-blue-500 text-blue-600 px-6 py-2">
      로그인
    </button>
  </header>
  <h1 class="text-5xl font-bold text-blue-600">
    누가돌려? made by tailwind    
  </h1>
<body class="h-screen bg-gray-100 flex flex-col items-center justify-center">
  <div class="w-2/3 h-1/2 bg-gray-300 rounded-xl shadow-lg flex items-center justify-center gap-10 p-10">
      <!--건조기와 세탁기-->
     
    <!-- 흰 박스 1 -->
    <button class=" w-1/3 bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl trasition duration-300">
        <img 
          src="C:\Users\tedte\Downloads\jungle\건조기images.png"
          class="h-40">

        
          <div class="p-1 text-middle">
          <h2 class="text-xl font-bold mb-2">세탁기</h2>
  </div>
    </button>

    <!-- 흰 박스 2 -->
    <button class=" w-1/3 bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl trasition duration-300">
        <img 
          src="C:\Users\tedte\Downloads\jungle\125652.png"
          class="h-40">

        
          <div class="p-1 text-middle">
          <h2 class="text-xl font-bold mb-2">건조기</h2>
    </button>

  </div>
  <!-- 로그인 모달 -->
  <div id="loginModal" class="hidden fixed inset-0 bg-black bg-opacity-40 flex justify-center items-center">
    
    <div class="bg-white w-96 p-8 rounded-lg shadow-xl">
      <h2 class="text-2xl font-bold mb-6 text-left">Log In</h2>
      <div class="mb-4">
        <label class="block mb-1 text-sm">ID</label>
        <input type="email" class="w-full border rounded px-3 py-2 " placeholder="아이디를 입력하세요">
      </div>
      <div class="mb-6">
        <label class="block mb-1 text-sm">Password</label>
        <input type="password" class="w-full border rounded px-3 py-2" placeholder="비밀번호를 입력하세요">
      </div>
      <button class="w-full bg-blue-600 text-white py-2 rounded hover:bg-blue-700">
        로그인
      </button>
      <button onclick="CloseLogin()" class="w-full mt-3 text-gray-500">
        닫기
      </button>
    </div>
    
  </div>

  <script>
    function OpenLogin() {
      document.getElementById("loginModal").classList.remove("hidden");
    }
    
    function CloseLogin() {
      document.getElementById("loginModal").classList.add("hidden");
    }
  </script>
  
</body>
<html/>