<!doctype html>
<html lang="ko">
  <head>
    <!-- 여긴 임포트입니다-->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>누가돌려?</title>

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.css"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            fontFamily: {
              sans: ["Pretendard", "sans-serif"],
            },
          },
        },
      }
    </script>
  </head>

  <body class="h-screen bg-gray-100 flex flex-col items-center justify-center">
    <a
      href="{{ url_for('home') }}"
      class="absolute top-5 left-5 flex items-center gap-2 text-xl font-bold"
    >
      <img
        src="{{ url_for('static', filename='images/로고.png') }}"
        class="h-16 w-auto"
      />
    </a>
    <header class="flex">
      {% if user_info %}
      <button
        onclick="doLogout()"
        class="absolute top-5 right-5 px-6 py-2 border border-blue-500 text-blue-600"
      >
        로그아웃
      </button>
      {% else %}
      <button
        onclick="openLogin()"
        class="absolute top-5 right-5 px-6 py-2 border border-blue-500 text-blue-600"
      >
        로그인
      </button>
      {% endif %}
    </header>

    <div
      class="w-11/12 md:w-2/3 h-auto md:h-1/2 bg-gray-300 rounded-2xl shadow-lg flex flex-col md:flex-row items-center justify-center gap-6 md:gap-10 p-6 md:p-10"
    >
      <a
        href="{{ url_for('find_machine', machine_type='laundry') }}"
        class="flex flex-col items-center justify-center p-8 w-full md:w-1/3 bg-blue-50 rounded-xl shadow-md hover:shadow-xl transition duration-300"
      >
        <img
          src="{{ url_for('static', filename='images/세탁기.png') }}"
          class="h-24 md:h-32 w-auto object-contain mb-4"
        />
        <div class="text-center">
          <h2 class="text-xl font-bold text-gray-800">세탁기</h2>
        </div>
      </a>

      <a
        href="{{ url_for('find_machine', machine_type='dryer') }}"
        class="flex flex-col items-center justify-center p-8 w-full md:w-1/3 bg-orange-50 rounded-xl shadow-md hover:shadow-xl transition duration-300"
      >
        <img
          src="{{ url_for('static', filename='images/건조기.png') }}"
          class="h-24 md:h-32 w-auto object-contain mb-4"
        />
        <div class="text-center">
          <h2 class="text-xl font-bold text-gray-800">건조기</h2>
        </div>
      </a>
    </div>

    {% include 'modal.html' %}

    <!--나의 예약정보를 가져오고 세탁기누르면 세탁 정보 건조기 누르면 건조기정보 아이디와 예약시간을 넣는다-->
    <div
      class="w-2/3 h-1/10 bg-gray-300 rounded-xl shadow-lg mt-6 flex gap-10 p-10 y-6"
    >
      <button
        onclick="location.href = '내 세탁기 정보'"
        class="w-1/10 bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition duration-300"
      >
        <img
          src="{{ url_for('static', filename='images/세탁기.png') }}"
          class="h-10"
        />
      </button>

      <button
        onclick="location.href = '내 세탁기 정보'"
        class="w-1/10 bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition duration-300"
      >
        <img
          src="{{ url_for('static', filename='images/건조기.png') }}"
          class="h-10"
        />
      </button>
      <button
        class="w-1/3 bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition duration-300"
      >
        <img
          src="{{ url_for('static', filename='images/사용자.png') }}"
          class="h-10"
        />
      </button>
      <button
        class="w-1/3 bg-white rounded-xl shadow-md overflow-hidden hover:shadow-xl transition duration-300"
      >
        <img
          src="{{ url_for('static', filename='images/예약시간.png') }}"
          class="h-10"
        />
      </button>
    </div>

    <script>
      // 로그인
      $("#login-button").on("click", function (e) {
        e.preventDefault()

        const userId = $("#id").val()
        const password = $("#pwd").val()

        $.ajax({
          type: "POST",
          url: "/login",
          contentType: "application/json",
          data: JSON.stringify({
            id: userId,
            pwd: password,
          }),
          success: function (response) {
            closeLogin()
            window.location.reload()
          },
        })
      })
      function openLogin() {
        document.getElementById("loginModal").classList.remove("hidden")
      }

      function closeLogin() {
        document.getElementById("loginModal").classList.add("hidden")
      }

      function getCookie(name) {
        const value = `; ${document.cookie}`
        const parts = value.split(`; ${name}=`)
        if (parts.length === 2) return parts.pop().split(";").shift()
        return ""
      }

      function doLogout() {
        const csrf = getCookie("csrf_access_token")
        console.log(csrf)
        $.ajax({
          type: "POST",
          url: "/logout",
          xhrFields: {
            withCredentials: true,
          },
          headers: {
            "X-CSRF-TOKEN": csrf,
          },
          success: function (response) {
            if (response.result === "success") {
              window.location.reload()
            }
          },
          error: function (xhr) {
            alert("로그아웃 처리 중 문제가 발생했습니다.")
          },
        })
      }
    </script>
  </body>
</html>
